@import "tailwindcss";

@theme {
  --color-primary: #ff85a2; /* Pink */
  --color-secondary: #fce4ec; /* Light Pink */
  --color-accent: #9c27b0; /* Purple */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
